**/*.ts
**/tsconfig.json

.gitignore
.prettierrc.json
lerna.json
vscode-extensions.code-workspace
webpack.config.json

**/node_modules

.ivy/
.vscode/
lib/
build/
config/
playwright/
scripts/
webviews/
!webviews/dist/