body {
  color-scheme: light;
  --editor-bg: #f5f5f5;
  --editor-header-bg: #fcfcfc;
  --editor-shadow: 0px 9px 27px rgba(0, 0, 0, 0.07), 0px 3.75998px 11.28px rgba(0, 0, 0, 0.0503198),
    0px 2.01027px 6.0308px rgba(0, 0, 0, 0.0417275), 0px 1.12694px 3.38082px rgba(0, 0, 0, 0.035),
    0px 0.598509px 1.79553px rgba(0, 0, 0, 0.0282725), 0px 0.249053px 0.747159px rgba(0, 0, 0, 0.0196802);

  --accordion-header-bg: #ffffff;
  --accordion-bg: #fcfcfc;

  --seperator-color: #7a7a7a;
  --tab-inactive-border: #a0a0a0;

  --input-bg: #ffffff;
  --input-color: #202020;
  --button-bg: #f5f5f5;
  --button-color: #202020;
  --text-color: #202020;
  --table-bg: #fcfcfc;
  --table-header-bg: #ffffff;

  --error-color: var(--vscode-editorError-foreground);
  --warning-color: var(--vscode-editorWarning-foreground);
  --success-color: #48c46b;
  --info-color: var(--vscode-editorInfo-foreground);

  --focus-shadow: 0;
  --border-radius: 0;
}
body.vscode-dark {
  color-scheme: dark;
  --editor-bg: #2c2c2c;
  --editor-header-bg: #202020;

  --accordion-header-bg: #1b1b1b;
  --accordion-bg: #202020;

  --seperator-color: #5a5a5a;

  --input-bg: #1b1b1b;
  --input-color: white;
  --button-bg: #2c2c2c;
  --button-color: #bababa;
  --text-color: #bababa;
  --table-bg: #202020;
  --table-header-bg: #1b1b1b;

  --error-color: #ff796f;
  --warning-color: #ff9f46;

  --focus-shadow: 0 0 0 1px var(--text-color);
}

/* :root {
  --editor-bg: var(--vscode-editor-background) !important;
  --editor-shadow: 0;
  --seperator-color: var(--theia-sideBarSectionHeader-border);
  --tab-inactive-border: #a0a0a0;

  --input-bg: var(--vscode-quickInput-background);
  --input-color: var(--vscode-quickInput-background);
  --button-bg: var(--vscode-list-inactiveSelectionBackground);
  --button-color: var(--vscode-list-inactiveSelectionForeground);
  --text-color: var(--vscode-quickInput-foreground);
  --table-bg: var(--vscode-quickInput-background);
} */
